# Python
__pycache__/
*.py[cod]
*$py.class

# Data (Strictly ignored)
data/
COMPETITION_RULES.md
COMPETITION_OVERVIEW.md
TREE_SPECIFICATIONS.md
config/magic_params.py
*.csv
*.parquet
*.json
*.zip
*.gz
*.7z

# Models & Results (Allowed)
# We do NOT ignore .pkl, .h5, .joblib if you want to upload models
# !models/*.pkl
# !results/*.png

# Environment
.env
venv/
.venv/
env/

# IDE
.vscode/
.idea/
.DS_Store